<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
  </head>
  <body style="margin:0; height:100%;">
    <nav style="background-color:#eeeeee; box-shadow: 0px 1px 10px -6px; ">
      <div class="flex justify-between w-4/5 mx-auto">
        <div class="flex">
          <a href="/" style="font-size:1.5rem;">DAILY BLOG</a>
        </div>
        <div class="flex self-center">
          <a href="/about">ABOUT US</a>
          <a href="/contact">CONTACT US</a>
        </div>
      </div>
    </nav>
    <div class="w-4/5 mx-auto" style="padding:2rem; min-height:80%;">
