<%- include('partials/header.ejs') -%>

<div class="">
  <h2>Compose</h2>
  <form class="compose" action="/compose" method="post">
    <label for="postTitle">Title</label>
    <input type="text" name="postTitle" style="padding:0.5rem;">
    <br>
    <label for="postBody">Body</label>
    <textarea name="postBody" rows="8" cols="80" style="padding:0.5rem;"></textarea>
    <br>
    <button type="submit" name="button" style="width:8rem; padding:0.4rem;">Publish</button>
  </form>
</div>

<%- include('partials/footer.ejs') -%>
