<%- include('partials/header.ejs') -%>
<div >
  <form class="compose my-4 flex flex-col" action="/compose" method="post">
    <div class="my-4 p-4 border rounded-lg flex flex-col">
      <input class="p-2 mb-2" placeholder="Title" type="text" name="postTitle">
      <textarea class="p-2" name="postBody" rows="8" placeholder="Content"></textarea>
    </div>
    <button class="my-4 px-8 py-2 bg-blue-500 self-center rounded-lg active:bg-blue-600" type="submit" name="button">Publish</button>
  </form>
</div>

<%- include('partials/footer.ejs') -%>
