<%- include('partials/header.ejs') -%>

<div class="w-1/2 my-12 mx-auto">
  <h2 class="font-black text-lg mb-8"><%= post.title %></h2>
  <p><%= post.body %></p>
</div>

<%- include('partials/footer.ejs') -%>
