html{
  height:100%;
}
body{
  background-color: #f1f1f1;
  font-family: 'Cabin', sans-serif;
  height: 100%;
}
a{
  text-decoration: none;
  color: #454545;
  padding:1rem;
}
a:hover{
  text-shadow: 2px 2px 4px;
}
footer{
  width:100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 1px -1px 10px -9px;
  display:flex;
  justify-content: center;
  position:relative;
  bottom:0;
}
nav{
  padding: 2rem 0rem;
}
.post{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;
}
.compose{
  display : flex;
  flex-direction : column;
  padding: 2rem;
}
.w-4\/5{
  width:80%;
}
.mx-auto{
  margin : auto;
}
.flex{
  display : flex;
}
.self-center{
  align-items: center;
}
.self-start{
  align-items: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-around{
  justify-content: space-around;
}
.justify-between{
  justify-content: space-between;
}
